body {
    font-family: 'Josefin Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bolder;
}

#home {
    background-image: url("../img/unicorn.jpg");
    height: 800px;
    margin-top: -20px;
    background-size: cover;
}

.home-text {
   text-align: center;
    font-size: 119px;
    color: black;
    padding-top: 315px;
    margin-top: 0px;
    font-weight: bolder;
    text-shadow: 1.5px 1.5px 1px #FF0000, 3px 3px 1px #FF8000, 4.5px 4.5px 1px #FFFF00, 6px 6px 1px #00FF00, 7.5px 7.5px 1px #0000FF, 9px 9px 1px #800080;
}

#mission {
    color: black;

    p {
    background-color: black;
    color: white;
    padding: 20px;
    margin: 38px 0px 0px 0px;
    border-radius: 5px;
    padding: 20px;
    border: 20px solid #337ab7;
    font-size: 25px;
    }

    .our-mission {
        text-shadow: 1.5px 1.5px 1px #FF0000, 3px 3px 1px #FF8000, 4.5px 4.5px 1px #FFFF00, 6px 6px 1px #00FF00, 7.5px 7.5px 1px #0000FF, 9px 9px 1px #800080;
        font-size: 50px;
    }


}
    .recent-posts {
        text-shadow: 1.5px 1.5px 1px #FF0000, 3px 3px 1px #FF8000, 4.5px 4.5px 1px #FFFF00, 6px 6px 1px #00FF00, 7.5px 7.5px 1px #0000FF, 9px 9px 1px #800080;
        font-size: 50px;
    }

.right-container{
    display: inline-flex;
}

.vote-item{
    margin: 0px 30px 0px 20px;
}