#main-nav {
    background-color: black;
    border-radius: 0;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    color: white;
    min-width: 450px;
    overflow: hidden;

    .resistance {
        float: left;
        text-shadow: 
        1.5px 1.5px 1px #FF0000, 
        3px 3px 1px #FF8000, 
        4.5px 4.5px 1px #FFFF00, 
        6px 6px 1px #00FF00, 
        7.5px 7.5px 1px #0000FF, 
        9px 9px 1px #800080;
    }

    .username {
        float: right;
        position: absolute;
        right: 9%;
                text-shadow: 
        1.5px 1.5px 1px #FF0000, 
        3px 3px 1px #FF8000, 
        4.5px 4.5px 1px #FFFF00, 
        6px 6px 1px #00FF00, 
        7.5px 7.5px 1px #0000FF, 
        9px 9px 1px #800080;
    }

    img{
    float: right;
    height: 59px;
    margin-right: -20px;
    }

    button {
        width: 120px;
        height: 40px;
        text-transform: uppercase;
        text-align: center;
    }
}

.buttons {
    min-width: 300px;
    margin-top: -5px;
    overflow: hidden;
}